<?xml version="1.0" encoding="UTF-8"?>

<!--
Maven 全局配置文件

默认位置：

Mac/Linux:
~/.m2/settings.xml

Windows:
C:\Users\用户名\.m2\settings.xml

作用：
1. 配置仓库镜像
2. 配置私服账号密码
3. 配置代理
4. 配置环境(profile)
-->
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0
          https://maven.apache.org/xsd/settings-1.2.0.xsd">

    <!-- Maven 本地仓库位置，依赖 jar 会下载并缓存到该目录。 -->
    <localRepository>/Users/chenweili/Documents/local-repository</localRepository>

    <!--
    插件组

    用于简化 Maven 插件命令。

    例如：

    <pluginGroup>org.springframework.boot</pluginGroup>

    原本：

    mvn org.springframework.boot:spring-boot-maven-plugin:run

    可以写成：

    mvn spring-boot:run

    平时基本不用配置。
    -->
    <pluginGroups>
    </pluginGroups>


    <!--
    网络代理

    公司内网经常需要配置。

    例如：

    <proxy>
        <active>true</active>
        <protocol>http</protocol>
        <host>127.0.0.1</host>
        <port>7890</port>
    </proxy>

    如果使用 Clash、VPN、公司代理，
    Maven 下载依赖需要经过这里。
    -->
    <proxies>

    </proxies>


    <!--
    服务认证信息

    用于配置：

    1. Nexus 私服
    2. Artifactory
    3. GitHub Packages
    4. 阿里云私仓

    示例：

    <server>
        <id>nexus</id>
        <username>admin</username>
        <password>123456</password>
    </server>

    注意：

    id 必须和 repositories 或 mirrors 中引用的 id 对应。
    -->
    <servers>

    </servers>


    <!--
    镜像配置

    Maven 最重要的配置之一。

    默认：

    Maven -> Maven Central（国外）

    国内一般改成：

    阿里云镜像
    华为云镜像
    腾讯云镜像

    下载速度会快很多。
    -->
    <mirrors>

        <!-- 使用阿里云公共仓库代理所有远程依赖，避免 Maven Central 访问受限。 -->
        <mirror>
            <id>maven-public</id>
            <name>阿里云 Maven 公共仓库</name>
            <url>https://maven.aliyun.com/repository/public</url>
            <mirrorOf>*</mirrorOf>
        </mirror>

        <!--
        Maven 3.8+ 默认配置

        防止访问 HTTP 仓库。

        只允许 HTTPS 仓库。

        如果某个仓库还是：

        http://xxx

        Maven 会直接拦截。

        这是安全机制。
        -->
        <mirror>
            <id>maven-default-http-blocker</id>

            <!--
            匹配所有 HTTP 仓库
            -->
            <mirrorOf>external:http:*</mirrorOf>

            <name>
                Pseudo repository to mirror external repositories initially using HTTP.
            </name>

            <!--
            实际不会访问
            -->
            <url>http://0.0.0.0/</url>

            <!--
            阻止访问
            -->
            <blocked>true</blocked>
        </mirror>

    </mirrors>


    <!--
    Profile（环境配置）

    可以理解成：

    开发环境
    测试环境
    生产环境

    示例：

    <profile>
        <id>dev</id>

        <properties>
            <env>dev</env>
        </properties>
    </profile>

    激活：

    mvn clean install -Pdev

    很多公司会在这里配置：

    - Nexus地址
    - JDK版本
    - Maven仓库
    - 环境变量
    -->
    <profiles>

    </profiles>

</settings>
